[submodule "vim/bundles/UltiSnips"]
	path = vim/bundles/UltiSnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "vim/bundles/pyflakes-vim"]
	path = vim/bundles/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundles/tabular"]
	path = vim/bundles/tabular
	url = git://github.com/godlygeek/tabular.git
