snippet dir "Script execution dir" !
dir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

endsnippet

snippet #! "Bash shebang and safe mode" !
#!/bin/bash

set -euo pipefail
# set -x

endsnippet
