snippet dir "Script execution dir" !
dir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

endsnippet

snippet #! "Bash shebang and safe mode" !
#!/bin/bash

set -euo pipefail
# set -x

endsnippet

# https://adpgtech.blogspot.com/2015/12/psql-c-will-no-longer-imply-no-psqlrc.html
snippet psql "psql clear output" !
psql -AXqt 
endsnippet
